.teacher-details{
    background-image: linear-gradient(rgb(250, 208, 192), rgb(240, 189, 214));
    margin: 15px 1px;
    padding: 20px 15px 20px 25px;
    border-radius: 10px;
    width: 280px;
    height: 470px;
    line-height: 35px;
    font-size: 20px;
}
.teacher-details:hover{
    background-image: linear-gradient(pink, rgb(250, 146, 108));
    transform: scale(1.04);
    transition: .6s;
    box-shadow: 10px 10px 10px rgb(202, 202, 202);
}
.fa-leanpub{
    margin-right: 5px;
}
.teacher-img{
    margin-left: 50px;
    border: 3px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}


/* add to cart */
.add-fav{
    margin: 20px 0px 0px 30px;
    width: 200px;
    padding: 10px 0px;
    color: white;
    background-color: rgb(32, 32, 66);
    border-radius: 8px;
    font-size: 18px;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.fa-twitter-square{
    font-size: 40px;
    color: black;
}
.fa-facebook-square{
    color: black;
    font-size: 40px;
    margin-right: 80px;
}
