
.teacher-container{
    display: flex;
}
.teachers{
    margin:50px 0px 0px 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* teacher cart */
.total-teacher{
    margin-top: 50px;
    margin-left: 0px;
}
.total-teacher h3{
    font-size: 22px;
}
.name{
    margin-top: 15px;
    width: 300px;
    font-size: 22px;
}